@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');


/* making css variable */
:root{
    --mainBlue: #40ACF1;
    --transparentBlue: rgba(64, 172, 241, 0.7);
    --mainWhite: #FFFFFF;
    --mainBlack: #292F36;
    --mainGrey: rgb(216, 214, 214);
    --mainYellow: #e3b505;
}

body{
    font-family: 'Roboto', sans-serif;
    color: var(--mainBlack);
    background: var(--mainWhite);
}

/*REM values to target root element 1REM=16px */

/* section title */
.section-title--special{
    background: var(--transparentBlue);
    color: var(--mainWhite);
    padding: 0.5rem 2rem;
    clip-path: polygon(10% 0, 100% 0, 90% 100%, 0 100%);
}

/* preloader */
.preloader{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: var(--mainWhite);
    z-index: 999;
}
.hidePreloader{
    display: none!important;
}


/*navbar */
.nav{
    background: var(--mainGrey);

}

#logo{
    height: 2.5rem;
}

.navbar-icon{
    font-size: 2rem;
    color:var(--mainBlue);
}

.navbar-toggler{
    outline-color: #e3b505!important;
}




.nav-link{
    color: var(--mainBlack);
    text-transform: capitalize;
}
.nav-link:hover{
    color: var(--mainBlue);
}

.nav-icon{
    font-size: 1.5rem;
    color: var(--mainBlue);
    text-decoration: none!important; /*overwriting bootstrap property */
    transition-property: color; /*to make hover property smooth */
    transition-duration: 2s;
    transition-timing-function: linear;
}

.nav-icon:hover{
    color: var(--mainBlack);
}

/* header */
.header{
    clip-path: polygon(0 0, 100% 0, 100% 95%, 50% 100%, 0 95%);
    color: var(--mainWhite);
    text-align: right;
    overflow: hidden; /* it will make sure that image is moving not the header itself */
}

.height-max{
    min-height: calc(100vh - 66px); /*100 view height(vh) set = 100% of of any screen size*/
    background: url('../Img/header.jpg');
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    animation-name: zoom;
    animation-duration: 10s;
    animation-delay: 5s;
    animation-iteration-count: infinite;
}
@keyframes zoom{   /* animation */
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.2) translateX(-5%);
    }
    100%{
        transform: scale(1);
    }
}

.title-heading{
    background: rgba(0,0,0,0.4);
    border-left: 0.3rem solid var(--mainBlue);
}
.title{
    font-weight: 700;
    font-size: 1.9rem;
}
@media screen and (min-width:768px){
    .title{
        font-size:3rem;
    }
}
.title-icon{
    color: var(--mainBlue);
    text-decoration:none!important;
}
.title-icon:hover{
    color: var(--mainBlue);
    opacity: 0.6;
}

/* skills */
.skills-icon{
    font-size: 3rem;
    color: palegreen;
    background: gray;
}
.skills-icon:hover{
    color: #e3b505;
}

.skills-underline{
    width: 4rem;
    height: 0.3rem;
    background: var(--mainBlue);
    margin: 1rem auto;
}

/* inventory */
.inventory{
    background: var(--mainGrey);
}
.dog-card{
    border-radius: 0!important;
}
.dog-img{
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.dog-value{
    background: var(--mainBlue);
    color: var(--mainWhite);
    clip-path: polygon(15% 0, 85% 0, 100% 100%, 0 100%);
    transition: all 1s linear;

}
.dog-value:hover{
    clip-path: polygon(0% 0,100% 0,100% 100%,0 100%);
}

/* question */
.question{
    background: url('../Img/header.jpg')center/cover fixed no-repeat;
}
.question-grey{
    background: rgba(103, 111, 117, 0.75);
}
.question-yellow{
    background: rgba(227, 181, 5.0, 0.75);
}
.question-icon{
    font-size: 4rem;
    color: var(--mainBlue);
    transition: all 0.5s ease-in-out;
}
.question-icon:hover{
    transform: translateY(-11%);
    color: var(--mainBlue);
}
.question-info{
    color: var(--mainWhite);
}

/* ranking dog */
#ranking{
    background: var(--mainGrey);
}
.ranking-item{
    background: var(--mainWhite);
    border-radius: 0.5rem;
    opacity: 0.5;
    cursor: pointer;
    transition: all 1s ease-in-out;
}
.ranking-item:hover{
    opacity: 1;
    transform: scale(1.05);
}
.ranking-icon{
    font-size: 2rem;
    color: var(--mainYellow);
    cursor: pointer;
    transition: 0.5s all ease-in-out;
}
.ranking-icon:hover{
    color: var(--mainBlue);
}
.img-container{
    background: var(--mainBlue);
    position: relative;
    overflow: hidden;
}
.ranking-photo{
    transition: all 1s ease-in-out;
    
    
}
.img-container:hover .ranking-photo{
    transform: scale(1.3);
    opacity: 0.6;
}
.ranking-link{
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 3rem;
    transform: translate(-50%, -50%);
    color: var(--mainBlack);
    opacity: 0;
    transition: all 1s ease-in-out;
}
.ranking-link:hover{
    color: var(--mainWhite);
}
.img-container:hover .ranking-link{
    opacity: 1;
}