@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');


/* making css variable */
:root{
    --mainBlue: #40ACF1;
    --transparentBlue: rgba(64, 172, 241, 0.7);
    --mainWhite: #FFFFFF;
    --mainBlack: #292F36;
    --mainGrey: rgb(216, 214, 214);
    --mainYellow: #e3b505;
}

body{
    font-family: 'Roboto', sans-serif;
    color: var(--mainBlack);
    background: var(--mainWhite);
}

/*REM values to target root element 1REM=16px */

/*navbar */
.nav{
    background: var(--mainGrey);

}

#logo{
    height: 2.5rem;
}

.navbar-icon{
    font-size: 2rem;
    color:var(--mainBlue);
}

.navbar-toggler{
    outline-color: #e3b505!important;
}




.nav-link{
    color: var(--mainBlack);
    text-transform: capitalize;
}
.nav-link:hover{
    color: var(--mainBlue);
}

.nav-icon{
    font-size: 1.5rem;
    color: var(--mainBlue);
    text-decoration: none!important; /*overwriting bootstrap property */
    transition-property: color; /*to make hover property smooth */
    transition-duration: 2s;
    transition-timing-function: linear;
}

.nav-icon:hover{
    color: var(--mainBlack);
}

/* header */
.header{
    clip-path: polygon(0 0, 100% 0, 100% 95%, 50% 100%, 0 95%);
    color: var(--mainWhite);
    text-align: right;
    overflow: hidden; /* it will make sure that image is moving not the header itself */
}

.height-max{
    min-height: calc(100vh - 66px); /*100 view height(vh) set = 100% of of any screen size*/
    background: url('../Img/Royal_Enfield.jpg');
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    animation-name: zoom;
    animation-duration: 10s;
    animation-delay: 5s;
    animation-iteration-count: infinite;
}
@keyframes zoom{   /* animation */
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.2) translateX(-5%);
    }
    100%{
        transform: scale(1);
    }
}

.title-heading{
    background: rgba(0,0,0,0.4);
    border-left: 0.3rem solid var(--mainBlue);
}
.title{
    font-weight: 700;
    font-size: 1.9rem;
}
@media screen and (min-width:768px){
    .title{
        font-size:3rem;
    }
}
.title-icon{
    color: var(--mainBlue);
    text-decoration:none!important;
}
.title-icon:hover{
    color: var(--mainBlue);
    opacity: 0.6;
}